{% extends 'contenedor/base.html' %}
{% block content %}
	<div class="container">
		<div class="panel panel-primary">
			
			<div class="panel-heading">
				<div class="panel-title">Agregar Usuario</div>
			</div>
			<div class="panel-body">
				
				<form method="POST" action="/user/insert/">
					{% csrf_token %}
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="nk-container fm-cmp-mg">
							<div class="input-group form-group form-elet-mg">
								<span class="input-group-addon">Nombre: </span>
								<div class="nk-line dropdown nk-int-st">
									<input type="text" class="form-control nk-value" id="published_date" name="published_date" " data-toggle="dropdown"/>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="nk-container fm-cmp-mg">
							<div class="input-group form-group form-elet-mg">
								<span class="input-group-addon">Apellidos: </span>
								<div class="nk-line dropdown nk-int-st">
									<input type="text" class="form-control nk-value" id="title" name="title" data-toggle="dropdown"/>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<div class="nk-container fm-cmp-mg">
							<div class="input-group form-group form-elet-mg">
								<span class="input-group-addon">Contrase&ntilde;a: </span>
								<div class="nk-line dropdown nk-int-st">
									<input type="text" class="form-control nk-value" id="text" name="text" data-toggle="dropdown"/>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<br>
						<button class="btn btn-info" type="submit"> <i class="fa fa-save" style="color: blue;"></i> Agregar</button>
					</div>
					
				</form>
			</div>
		</div>
	{% endblock %}